[2011-05-12 18:09] ahmetb opened #1 "Include USING clause on CREATE INDEX statements"
Create Index queries must provide option to use btree or hash index via annotation.

[2011-05-14 20:22] ahmetb opened #2 "Exceptions hierarchy"
Currently all exceptions extend RuntimeException. We need a hierarchy for exceptions.

For instance:
- OrmanException (abstract
  ----+ OrmanSQLException (exceptions thrown while generating sql query builder org.orman.sql)
  ----+ OrmanMapperException (for mapper and mapping session exceptions from org.orman.mapper)
  ----+ OrmanQueryExecutionException (exceptions occur from external databases e.g

[2011-05-21 17:46] ahmetb opened #3 "Throw Exception for Field or Entity name collisions"
If two or more fields or entities are mapped to the same physical name (in a case-[in]sensitive manner (create a case sensitivity option in MappingConfiguration)),  an exception must be thrown to not to defer error to the DBMS. This should be done during name and type binding checks in MappingSession.

[2011-05-22 16:37] ahmetb opened #4 "Support for Date fields"
Currently framework has no date type supports. Databases have different input and query result formats for date & date-time types.

Plan is to support only `datetime` types (which is `java.sql.Date`) and let every dbms have its own `DateFormatter` (or `SimpleDataFormat`) on both forward mapping and reverse mapping.

Tests should also be done.

[2011-05-22 18:27] ahmetb opened #5 "Constraint keyword differences of DBMSes"
Not all DBMSes follow SQL standards. Some keywords differ in specific dbms systems.

e.g. PRIMARY KEY, AUTO INCREMENT may differ however many of db systems follow standards in FOREIGN KEY.

Extract hard-wired keywords and bind them to `SQLGrammarProvider` implementation of databases.

[2011-05-22 19:19] ahmetb opened #6 "Build mechanism for distribution"
We need a build mechanism that can build and package project into a JAR file. Maybe we can think about using  [`jarjar`](http://code.google.com/p/jarjar/) for bundling connector/adapter dependencies for targeted builds.

For instance, `core` build should not contain a connector in JAR package.
`mysql` build should contain `lib/mysql-connector-java-*.jar`
`sqlite-unix` build should contain `lib/sql

[2011-05-24 16:46] ahmetb opened #8 "Delay database connections in DBMS adapters"
We should delay establishing connections to DBMSes (if necessary) until `MappingSession.start()` since it is a blocking task and should not run upon initialization of  adapter (which is an `org.orman.datasource.Database` implementation).

[2011-05-24 16:55] ahmetb opened #9 "Automatic @Entity scan in enclosing project without package name"
An idea to implement in the future,

The framework may scan the current project for `@Entity`-annotated classes without registering an explicit package name.  Issues to consider:
- How can we implement such a thing.
- How framework users can disable that? (maybe if an entity is manually registered, we don't scan.)
- If we implement when should this be done in during mapping session? (maybe if no e

[2011-05-27 11:35] ahmetb opened #10 "Research for Pure Java Standalone Java DBMS Adapter"
Since we are aiming easy integration and use, especially for Java desktop programs shipping, we can not setup a MySQL or a similar daemon-running DBMS.

For that we planned to write adapters for SQLite however there is no pure Java adapter for that and even [sqlite4java](http://code.google.com/p/sqlite4java/) requires native `*.dll, *.so, *.jnilib` binaries. Maybe we can embed them into sqlite-bui

[2011-05-27 16:31] ahmetb opened #11 "Escaping SQL clause template tags"
In `QueryType`s, we define e.g.

[code]

however that can be exploited if some query values do also include these `{...}` templates and may cause complicated errors. Values manually binded to SQL should be escaped for `{` and `}` then must be unescaped.

[2011-05-28 12:22] ahmetb opened #12 "Test SQL injection vulnerabilities"
Using criteria binding fields during SQL Query Building with `QueryBuilder` check for vulnerabilities of DBMSes to SQL injection attacks.

Currently it seems there are problems in SQLite, and most probably in MySQL.

[2011-05-29 00:17] ahmetb commented on #1
Implemented.

[2011-05-29 00:17] #1 closed, assigned to nobody

[2011-05-29 00:17] ahmetb commented on #5
Fixed.

[2011-05-29 00:17] #5 closed, assigned to ahmetb

[2011-05-29 00:18] ahmetb commented on #12
Improved with commit 5ea27757f57d4788f0ab2231e0630cc742b20d69.

[2011-05-29 00:19] ahmetb commented on #11
Tried a few queries, however actual value bindings done after clause tag bindings. Does not seem having a vulnerability.

[2011-05-29 00:20] ahmetb commented on #4
Implemented but not tested, support to `java.util.Date`.

[2011-05-29 00:20] #4 closed, assigned to nobody

[2011-05-29 14:26] ahmetb opened #13 "Logging all thrown exceptions"
At some points we `Log.error` the exceptions we have thrown. However, should we log all of them, or not? This is an important design choice.

IMHO, to provide good maintainability, we should log all exceptions, because the client program may catch it, however it is already thrown by the framework and should appear in "framework logs".

There are about ~53 exceptions in the code thrown like :

[cod

[2011-05-29 15:35] ahmetb opened #14 "Entity Dependency Tree plugin"
Currently, creation of tables are ordered by entities with **less foreign keys first** principle and during deletion of tables the policy is delete entities with **more foreign keys first** in order not to break foreign key constraints. This is very poor.

This policy will not always work and implemented very earlier just to get things work – a nasty hack.

Consider the following tables:

Table A

[2011-05-29 15:37] ahmetb opened #15 "SimpleFileLogAppender"
People do not necessarily have to install `log4j` to log framework events to a file. A simple file appender is required as implemented in `log4j`. Should be implemented in a thread-safe way using (if necessary) low level java.io API.

[2011-05-29 20:31] #11 closed, assigned to nobody

[2011-05-29 22:51] ahmetb opened #16 "FK Cascading Option"
Foreign key cascading options should be implemented in  `OneToMany`, `ManyToMany` and `ManyToOne` cardinality annotations and in language grammars along with enumeration templates.

[2011-05-31 21:51] ahmetb commented on #9
Awesome contribution. World is a better place thanks to you. (:

Thanks for all Oguz.

[2011-05-31 21:51] #9 closed, assigned to 0ffffffffh

[2011-05-31 21:57] ahmetb commented on #3
for entities,

`PersistenceSchemeMapper#checkConflictingEntities(Entity e)` already exists. However it uses `Entity.equals(Entity)` method, which provides a case-sensitive comparison (line 179)

[code]

can be fixed using `.toLowerCase()` on both sides.

It should be done for fields "after physical name bindings".

[2011-05-31 22:28] 0ffffffffh commented on #9
i'm glad to be useful. :)

[2011-06-01 12:39] #2 closed, assigned to nobody

[2011-06-01 21:14] ahmetb commented on #14
Fixed by implementing `org.orman.mapper.EntityDependencyGraph`. Works awesome.

[2011-06-01 21:14] #14 closed, assigned to nobody

[2011-06-02 08:06] ahmetb commented on #3
Already fixed in very early stages of coding the framework. Yazdigimiz koddan haberimiz yok.

[2011-06-02 08:06] #3 closed, assigned to ahmetb

[2011-06-02 08:21] ahmetb opened #17 "Support Enum Fields"
Enum fields can be used as persistent fields on the database. We can store them as their (integer) order values or if they have a special constructor values, we should still user their order because constructor can be multi-variable.

Implement reverse mapping support as well.

[2011-06-02 08:23] ahmetb commented on #13
Fixed with commit 16a888f462237029a70e. Logging done when `OrmanException#getMessage()` called.

[2011-06-02 08:23] #13 closed, assigned to ahmetb

[2011-06-02 10:47] #17 closed, assigned to nobody

[2011-06-02 10:49] ahmetb opened #18 "Make use of volatile keyword"
@`Entity` classes may have fields which are not stored on the database (to use them on runtime). That can be supported using Java keyword `volatile` on these fields.

Currently this option is not working, investigate.

[2011-06-02 11:40] ahmetb opened #19 "License to release build"
Currently we don't have any distributable builds. However when we have, we should distribute code under an appropriate license so that developers can use it even in their commercial applications.

Any license suggestions for the framework? Examples from other frameworks?

[2011-06-02 11:45] berkerpeksag commented on #19
Hibernate is distributed under the [LGPL](http://en.wikipedia.org/wiki/GNU_Lesser_General_Public_License).

[2011-06-02 12:05] 0ffffffffh commented on #19
MIT License.

[2011-06-02 12:06] ahmetb commented on #19
Why (for all)?

[2011-06-02 12:10] 0ffffffffh commented on #19
Because MIT License is appropriate for commercial application.

[2011-06-02 13:10] ahmetb opened #20 "Refactoring access modifiers for least-privilege principle"
Currently almost all classes (and many of their methods) are declared as `public`. Some of them can be restricted to be accessed only from enclosing package. This will maintain least-privilege for any accessor class and won't let users of the framework get confused about framework internals.

[2011-06-07 02:58] ahmetb commented on #18
fixed with a873524. now we have both `transient` and `volatile` as volatility identifiers.

[2011-06-07 02:58] #18 closed, assigned to ahmetb

[2011-06-11 22:53] berkerpeksag opened #21 "Column and table names cannot be a reserved keyword"

[2011-06-11 22:54] ahmetb commented on #19
Chosen Apache 2.0 license.

[2011-06-11 22:54] #19 closed, assigned to ahmetb

[2011-06-12 05:37] ahmetb commented on #21
Issues to consider:
- A list of reserved keywords from SQLite and MySQL.
- Case-sensitivity: insentivity is better in this case.
- Where to store: Can be statically hard-coded in a java file or a `.properties` file with one word per line is better, can be read once and cached for future requests, also can be embeddable in `JAR`.
- When to check: Just after when MappingSession calls `scheme.checkCo

[2011-06-23 05:34] ahmetb opened #22 "Schema inspector"
We need a schema inspector that can query databases and retrieve schema information of database (tables, columns etc.) so that in some modes, we can prevent database throwing exceptions such as "database already exists" or "column not found" etc. SQLite and MySQL provides that information.

We can design an interface and implement it in every dbms package. It can store `Table` and `DataField` (reu

[2011-06-27 01:22] ahmetb commented on #22
implementation completed with fbd992eed634acf11545.

todo: make use of existing schema metadata and throw useful runtime exceptions before dbms throws them

[2011-06-27 18:02] ahmetb commented on #21
Issue solved.

[2011-06-27 18:02] #21 closed, assigned to nobody

[2011-06-28 17:10] ahmetb commented on #6
fixed without different types of builds. only core build for now.

[2011-06-28 17:10] #6 closed, assigned to nobody

[2011-06-28 18:48] ahmetb opened #23 "Database settings interface"
A methodless `DatabaseSettings` interface (under `org.orman.dbms`) can be created to classify `SQLiteSettingsImpl` , `MySQLiteSettings` classes in an OOP way.

Currently, SQLite uses `SQLiteSettingsImpl` but `SQLiteAndroid` does not. They both can share this interface.
- Rename `SQLiteSettingsImpl`  to `SQLiteSettings`.
- Move to `org.orman.sqlite.generic` package.
- Make settings classes extend `

[2011-07-01 06:05] ahmetb opened #24 "Documentation for Bulk Insert support"
Bulk insert method is not documented and it is especially an important feature for this framework since we aim data-embedded shipping products.

Therefore a Wiki page describing usage of bulk insert would be helpful.

[2011-07-07 17:54] ahmetb opened #25 "Support for Java native Logging or SLF4j"
There is no logging adapter for `java.util.logging` utility right now.  It should be implemented if necessary.

We might consider supporting slf4j in the future http://www.slf4j.org/ It is also a similar Facade for many logging libraries like our `ILogger`.

[2011-07-13 16:31] ahmetb opened #26 "Android SQLiteHelper thread safety"
We might provide a way for thread-safe query executions in Android usage with SQLiteHelper methods:

http://stackoverflow.com/questions/6675240/is-sqlite-database-instance-thread-safe/6675272

[2011-08-02 22:31] ahmetb commented on #8
DBMS `QueryExecutionContainerImpl`s using `OnDemandConnection` class are subject to throw unhandled `NullPointerException` when their `close()` method is called without any database operation that requires database to be initialized lazily.

Saw this in my dream this morning, not tested but it seems so. Can you fix this? Thanks.

[2011-08-03 00:09] 0ffffffffh commented on #8
ok. i will take care of it soon. thanks for feedback.

[2011-08-03 18:31] #8 closed, assigned to 0ffffffffh

[2011-08-04 15:08] 0ffffffffh commented on #8
berker, thanks for that bug fix.

[2011-08-31 15:00] beirigo opened #27 "problem mapping entities on android project"
I don't know if this is the right place for this...
I'm trying to create a simple android project using orman but can't get my entities mapped.
I have all my entities under the "br.com.jera.shoplist.model" package and when i try to start the session i get this error:

[code]

Before anybody asks, all my entities have the @Entity annotation.
I'm using this in my activty to start the session:

[code

[2011-08-31 17:00] ahmetb commented on #27
I'm not sure what's going on right now. There may be several problems regarding this issue, let's work on it:
1. Your package name might not be exactly that one. Please make hundred percent sure.
2. Your package might not be loaded since it might not be in your classpath.
3. Our system might have bugs. Can you please download latest build from [here](http://ahmetalpbalkan.com/orman-nightly/) and t

[2011-08-31 17:23] ahmetb commented on #27
I've created a new project now it couldn't find packages automatically or detect classes by specifying package name.

The whole thing is broken for some reason now. @0ffffffffh can you investigate please?

[2011-08-31 18:20] beirigo commented on #27
It seems broken, i built the jar from source but the problem persists.
I'd recomend creating tags for stable releases so one can use it if something goes wrong on master branch.
This might be useful:
I tried to use MappingSession.registerEntity(MyClass.class) and got the following error:

[code]

[2011-08-31 21:10] ahmetb commented on #27
It looks like there's a problem with Android SDK in this issue, it is different than entity search process (it creates dependency graph to create entities in correct order, that's when the error occurs).

http://developer.android.com/reference/java/util/LinkedList.html#descendingIterator() says that this method is implemented. That's totally weird.

[2011-08-31 21:46] JakeWharton commented on #27
Since API 9 only, however. What version are you running it on?

[2011-08-31 21:48] ahmetb commented on #27
@JakeWharton oops I missed that part (under jetlag) and just focused to LinkedList exists since API 1. We shouldn't rely on that and create our own iterator.

@marcosbeirigo, thanks for noticing this bug.

[2011-08-31 22:03] beirigo commented on #27
What's the MinSDK version to run orman on android? Couldn't find it on the wiki...

[2011-08-31 22:06] ahmetb commented on #27
Since it is written in pure Java SE, we didn't even checked for what's min version actually. That exception was really a surprise for me. It should throw compilation error before you create APK since the method does not exist, but apparently it doesn't.

I'm fixing it right now. It should work on API≥3.

[2011-08-31 22:09] JakeWharton commented on #27
It will only produce an error if you compile against the lowest API level you support. Most apps compile against higher API levels even though they support older ones.

[2011-08-31 22:10] ahmetb commented on #27
I didn't know that. `NoSuchMethodError` exception is fixed with 239de3ac6f573638a2a8. You can now clone and `rake`.

[2011-09-01 20:40] 0ffffffffh commented on #27
@marcosbeirigo, i will investigate this issue. thanks for bug report.

[2011-09-14 12:27] almozavr opened #28 "Remove mandatory to have a auto-increment @PrimaryKey field on the referenced entity"
I found orman very simple to understand and easy to maintain. It's usage is really awesome. But because of restriction to use auto-increment field I can't use it in my project and that's way:
1. I have many entities with fields of ref. entities
2. Many of ref. entities have the "id" field which I get from server (btw it's a client-server app, some kind of advanced messenger)
3. Mandatory to have a

[2011-09-14 12:47] ahmetb commented on #28
Thanks for your feedback. Actually as we say in wiki, orman is not created aiming advanced apps at all e.g. requires custom PK. The reason that we force a single PK is, it makes much easier to do reverse binding, x-to-x mappings because everything is under framework's control. Once I tried to remove that constraint and that required serious changes in architecture.

This is an approach that makes

[2011-09-14 13:39] almozavr commented on #28
Thanks for a very quick answer, I'm still trying to go further. So

Surely, that's what I do

Sorry, didn't find it in wiki.

I'm still in a trouble. And I don't believe there is nothing to do, 'cause it would be a pity to map my objects and scheme into crappy Android SQLite by hands :(
I just wonder how ORMan works and can't say @Index(unique = true) really helps, 'cause now I got many exceptions

[2011-09-14 13:39] #28 closed, assigned to nobody

[2011-09-14 14:39] ahmetb commented on #28
Sorry about undocumenting it. :) Actually the framework has more features than we have documented. Our idea of framework is good but I'm not sure about how is our implementation and reliability of framework since we use it only for our small projects. Let us know if you hit similar stuff again.

[2011-09-15 09:05] almozavr commented on #27
Have another problem with mapping on Android:
_Occurs:_ when trying to register db
**_Error:_ ERROR/AndroidRuntime(14805): Caused by: org.orman.mapper.exception.AnnotatedClassNotFoundInPackageException: Could not find any entity marked class in 'dalvik'**

When I map entities by hand everything works fine:
MappingSession.registerEntity(Sample.class);

I'm using last library built from git clone re

[2011-09-15 09:12] almozavr opened #29 "Problem with cursor finalizing"
Every request to db gives me following errors:
- 09-15 12:07:14.417: ERROR/Cursor(16962): Finalizing a Cursor that has not been deactivated or closed. database = /data/data/com.sample.project/databases/app.db, table = null, query = SELECT \* FROM stream  WHERE stream.id LIKE '734';
- 09-15 12:07:14.417: ERROR/Cursor(16962): android.database.sqlite.DatabaseObjectNotClosedException: Application did

[2011-09-15 09:15] ahmetb commented on #29
Thanks for noticing that. We will investigate soon.

[2011-09-15 09:48] ahmetb commented on #27
@0ffffffffh is working on it already. It is a dalvik vm classloading policy issue. He'll push his work when he's done with it. thanks for your patience.

[2011-09-15 09:50] almozavr commented on #27
Thanks for your work, guys! When it would be critical bugs free, it would be awesome framework for Android.

[2011-09-15 09:57] almozavr commented on #29
I also get **another** error after dozens of cursor related, but I'm not sure if they are linked somehow:

09-15 12:53:21.619: ERROR/AndroidRuntime(1715): java.util.MissingFormatArgumentException: Format specifier '''
09-15 12:53:21.619: ERROR/AndroidRuntime(1715):     at java.util.Formatter.getArgument(Formatter.java:1115)
09-15 12:53:21.619: ERROR/AndroidRuntime(1715):     at java.util.Formatter

[2011-09-15 10:04] almozavr commented on #29
**Full output** for cursor error (sorry for not writing it all from the beginning):

09-15 13:00:00.919: ERROR/Cursor(3580): Finalizing a Cursor that has not been deactivated or closed. database = /data/data/com.sample.project/databases/app.db, table = null, query = SELECT \* FROM stream  WHERE stream.id LIKE '9767';
09-15 13:00:00.919: ERROR/Cursor(3580): android.database.sqlite.DatabaseObjectNot

[2011-09-15 10:49] ahmetb commented on #29
The exception

[code]

caused by it is trying to log executed SQL to the stream but your query has `%` (probably in `LIKE` clause) and that character behaves like a format parameter (like `%s`, `%d`) and causes error. I will fix it later. If you want to continue development, you can comment out `org.orman.dbms.sqliteandroid.QueryExecutionContainer.java` line 36, 47, 90 (that has `Log.trace(..)`) a

[2011-09-15 11:06] almozavr commented on #29
OK, thanks for quick response.

## Right now I'm trying to investigate why and when the problem with cursor appears. I must say it seems to be because of "complicated" structure of my entities. I'll try to give a link to sample project  a little bit later, where problem could occur clearly.

Regards,
Aleksey Malevaniy

On 15 September 2011 13:49, ahmet alp balkan
reply@reply.github.com
wrote:

[2011-09-15 11:23] almozavr commented on #29
OK, telling long story short the problem _appears_
_when:_ I have a entity class, e.g. Message that has a field ref. entity class User. So when I simply:

[code]

After some iterations it starts throwing:

_Finalizing a Cursor that has not been deactivated or closed. database = data/data/com.sample.project/databases/app.db, table = **null**, query = SELECT **last_insert_rowid()**_

[2011-09-15 11:28] ahmetb commented on #29
Thanks that's a helpful example.  Probably it is caused because we don't close a cursor that we use many times and android is trying to `.finalize()` it. We will be tracing this.

[2011-09-15 11:36] almozavr commented on #29
Hope it helps! The sad thing, that I was trying to use ORMan on
production development but it seems I have to link objects with pure
sqlite by hands now and wait while orman would be ready for it. Still
think it's the best orm for android, you guys rock!

##

Regards,
Aleksey Malevaniy

On 15 September 2011 14:28, ahmet alp balkan
reply@reply.github.com
wrote:

[2011-09-15 12:41] almozavr commented on #29
**FIXED** by adding cur.close where it supposed to be. What should I do next?
Here is my code: http://pastebin.com/JgKgd8zA

[2011-09-15 13:41] almozavr opened #30 "Loop problem with Object.object"
If an entity e.g. Message contains ref. entity Message as a field there is a loop exception.

[code]

I tried to set `@OneToOne(load = LoadingPolicy.LAZY)` for `parentMessage` but it doesn't help at all.

[2011-09-15 13:45] ahmetb commented on #29
Thanks for that. If you hit `java.util.MissingFormatArgumentException`, I told you about it [here](https://github.com/ahmetalpbalkan/orman/issues/29#issuecomment-2103172). Do you hit something else?

[2011-09-15 13:48] ahmetb opened #31 "UnsolvableDependencyOrderException in self-referenced entities"
If we reference an object from itself (e.g `@Entity class A { @OneToOne private A parent; }` entity dependency graph inspector thinks that it is a different entity and this creates a cycle (short-circuit) in the dependency  graph therefore throws `UnsolvableDependencyOrderException` and of course `@OneToOne` does not solve this.

I will be fixing. (@almozavr reported this)

[2011-09-15 13:50] ahmetb commented on #30
Sorry I didn't see you created a separate issue. Already explained it in issue #31. You can follow it from there.

[2011-09-15 13:50] #30 closed, assigned to nobody

[2011-09-15 13:51] almozavr commented on #29
Always nice to help!

`java.util.MissingFormatArgumentException` — I commented lines you told me, thanks!
Now everything seems to work.

[2011-09-15 13:53] almozavr commented on #30
No problem, thanks! Hope it would be fixed — this is the last thing that prevents me from using ORMan in production development...

[2011-09-15 13:53] ahmetb opened #32 "String.format error due to SQL includes `%`"
(separating this from issue from #29 comment https://github.com/ahmetalpbalkan/orman/issues/29#issuecomment-2102818)

When we log executed SQL statements using `Log.trace`, it uses `String.format(message, [params...])` method of Java API.

If the SQL itself has `%` characters somewhere (like in string literals or wildcard in `LIKE` clause) it throws `java.util. MissingFormatArgumentException`. In

[2011-09-15 13:54] ahmetb commented on #29
`MissingFormatArgumentException` issue moved to #32, you can track about it there. I will be fixing soon. Meanwhile cursor issue will be fixed with your solution. Thanks @almozavr.

[2011-09-16 07:55] #31 closed, assigned to ahmetb

[2011-09-16 07:55] #32 closed, assigned to ahmetb

[2011-09-16 07:58] ahmetb commented on #29
@almozavr please checkout the code from `master` and build with `rake`. If it solves your cursor issue you can now close the issue. Thanks for cooperation.

[2011-09-16 09:57] almozavr commented on #29
Great work, thanks.

[2011-09-16 09:57] #29 closed, assigned to ahmetb

[2011-09-16 12:54] almozavr opened #33 "Index problem when using Object.object entity"
When there is:

[code]

**error** occurs saying `column parent_message is not unique`

It's a some kind of restriction, but! One should feel free to use unique indexes even in this situation.
P.S. everything works if I use set @Index as not unique.

[2011-09-16 12:55] ahmetb commented on #33
Can you give exact exception stack trace instead of just the error message, please? Thanks.

On Sep 16, 2011, at 3:54 PM, Aleksey Malevaniy wrote:

[2011-09-16 12:59] almozavr commented on #33
Surely, sorry. Here it is:

`Caused by: org.orman.dbms.exception.QueryExecutionException:
Query execution error: SQLiteAndroid error:android.database.sqlite.SQLiteConstraintException:
column parent_message is not unique: INSERT INTO ...`

[2011-09-16 13:02] ahmetb commented on #33
Now you can see that it is not an Orman constraint but Android SQLite implementation constraint. We also were not aware of that. If you can share your app logic with us (which column is referenced by `parent_message` e.g.) maybe we can help.

But in most cases, parent side of foreign keys has to be unique fields since they directly point a single entry and duplicate values on that field may cause

[2011-09-16 13:08] almozavr commented on #33
Oh, now I see, it's really obviously, thanks. Sorry for bothering.

BTW, some words about my app logic and orman experience: as I'm writing some kind of messenger, I have to use wrapper methods for insert/update objects to keep consistency. So I have some ideas how framework could help with this work even in complicated situation. I'll try to share app logic and code this weekends ;-)

[2011-09-16 13:08] #33 closed, assigned to nobody

[2011-09-16 13:58] almozavr commented on #33
One more thing.

In my app I definitely have to live without UNIQUE index when creating @OneToOne relation. In example above you can see that Message has a reference to parent Message (it creates cascade, 'cause one message could be a comment to another). And some messages has null as a parent (here comes unique violation).

Is there is a way to create NOT unique index for @OneToOne? Or how you re

[2011-09-16 14:12] ahmetb commented on #33
You can just store an integer in that field and just say that `private int parent_message` in your entity class, without any annotations.

Then you can use `ModelQuery` to query object with that id. I think we haven't undocumented `ModelQuery` yet.

I will think that you have an @Entity called `Message` and it has an `int` field `id`. It should be:

[code]

Here you should note that
- "id" is fiel

[2011-09-16 14:19] almozavr commented on #33
Thank again!

I understand this approach but I tried to avoid it, because everybody wants to work with objects without any hacks :) I also tried to set unique=false but as you wrote earlier it causes sql db to break down...

Now I think it would be interesting to find out how other ORMs deal with it. Maybe, there is a solution... I'll try to investigate.

[2011-09-16 14:23] ahmetb commented on #33
I think none of the relational DBMSes on the earth would allow you to create FK to non-`unique index`ed fields. Therefore none of the ORMs will be handling it specially. Assume that I say that my parent is 99. But in the database id:99 corresponds to two different values. Who is my parent now?

If you are going to have multiple parents, then you should use `@OneToMany` on `parent` field, that verb

[2011-09-16 14:36] almozavr commented on #33
Your're right and my weak knowledge of RDBMS.
The approach with storing only int value and fetching object by it
works well enough.

##

Regards,
Aleksey Malevaniy

On 16 September 2011 17:23, ahmet alp balkan
reply@reply.github.com
wrote:

[2011-09-19 06:33] almozavr opened #34 "Model.update() problem"
Hi.

I'm forcing with strange update() problem. I have a quite complicated entity which has ManyToMany (or OneToMany) and a problem appears when I try to update entity which is already in DB. So even if I fetch entity from DB and then update the orman fails to do it giving following exception:

[code]

[2011-09-19 11:12] ahmetb commented on #34
What is type of `messages_using_it` field in Java? Can you share a few related fields of  `Stream` class with us please so that we can locate the bug much easier.

[2011-09-19 11:25] almozavr commented on #34
Certainly.

Shortly, every Stream may have many Messages and some Message could belong to only one Stream.

**Stream**

[code]

**Message**

[code]

**BasicDbObject** is just a simple abstract helper class

[code]

}

[2011-09-19 11:41] almozavr commented on #34
Also, I must admit that everything works for Stream.insert(). I tested it on 500+ records and it's really fine.

_But_ if I let's say

[code]

It fails with provided error.

[2011-09-20 13:29] #34 closed, assigned to ahmetb

[2011-09-21 00:24] ahmetb commented on #34
Did this solve your problem? Can you please rebuild?

[2011-09-21 07:35] almozavr commented on #34
Thanks, great! It seems to work without any error exceptions!

[2011-09-21 08:54] ahmetb commented on #34
Glad it is solved.

[2011-09-27 13:04] ahmetb commented on #27
Is there any update on merging the development branch with `master` that this bug is fixed @0ffffffffh? Thanks.

[2011-09-27 22:23] ahmetb commented on #26
It is thread-safe by default, see edit in thread linked above.

[2011-09-27 22:23] #26 closed, assigned to ahmetb

[2011-09-30 06:33] 0ffffffffh commented on #27
yes. I will commit an update soon. Currently, I'm developing an eclipse plugin. Of course, that is related with this issue. (You can see at https://github.com/0ffffffffh/OrmanEclipseDevPlugin). Dalvik classloader issue is a stringent problem to resolve. I'm  still working on it.

[2011-10-11 13:39] ahmetb opened #35 "SQLite Missing Boolean Type Causes Invalid SQL"
Example scenario below

[code]

Logs:

[code]

Because SQLite does not have `boolean` but can store `0` and `1` in `int` field and we are serializing boolean variables using `Boolean.toString()` method in `org.orman.sql.util.Serializer.java`.

We should investigate that using `0` instead of `false` and `1` instead of `true` will work in MySQL and also compatible with generic SQL implementations.

[2011-10-11 18:48] Antpachon commented on #27
Same issue @0ffffffffh here. Waiting for the update.

[2011-10-24 08:37] Antpachon opened #36 "Issue creating one-to-many relationship with Id autoincrement"
Hi.

I'm trying to create a one-to-many relationship just like in the wiki example.

These are my class:

[code]

Like in the wiki example but when I try to insert an element, first in CadenaDBO I'm getting a error column uid not unique.

I'm creating an Object and then I execute `objectCadena.insert()`

I can see the error in DDMS and the query is : `INSTERT INTO cadena_dbo (permalink, uid, title

[2011-10-24 09:18] ahmetb commented on #36
Normally, `id` (`@PrimaryKey(autoIncrement=true)`) column should not be in INSERT statement. Because, in mapping session, by default we defer generation of id to the database, and after `.insert()`, we assign generated id (by database) to the instance.

I think your problem might be caused from you might have previously created a database where `uid` is an `@Index(unique=true)` or `@PrimaryKey(aut

[2011-10-25 11:12] Antpachon commented on #36
Yes , that's it.

I had a Primary key from a old schema.

My mistake, I though that re-installing my app the schema will be deleted

Thank you!

[2011-10-25 11:12] #36 closed, assigned to nobody

[2011-10-25 18:07] Antpachon opened #37 "Class extending Model and another Class"
Hi.

I have some class for example class A , and class B which extends A.  I can't store both in  DB because If I want that classes to be an Entity, they need to extend Model< A> and Model< B>.

Is there any solution?

[2011-11-08 14:17] Antpachon opened #38 "Error query Inserting % '"
I need to store a string like this :

[code]

And it's giving me Bad format exception in the insert query because of the  ' and the %

How can I avoid this?

[2011-11-09 11:38] ahmetb commented on #38
I am able to shore the string you have pasted above. Here's the source code:

MyEntity.java

[code]

Main.java `main` method:

[code]

It works on me. How exactly do you pass your string to your field? Maybe we can investigate further if you show us more of your code.

[2011-11-10 02:11] ahmetb commented on #37
I'm afraid we do not support inheritance of entities right now due to technical reasons. I'll be investigating that and look for ways around to solve this issue. Thanks for noticing.

[2011-11-10 02:11] #35 closed, assigned to ahmetb

[2011-11-10 14:43] Antpachon commented on #38
Try with a % it seems the ' is not the problem

[2011-11-10 15:07] ahmetb commented on #38
Putting a `%` does not reproduce the exception on me. (and please just paste all the exception message here next time, it does not cost extra money.)

It looks like issue #32 which is fixed. Can you please download the latest build from the Downloads page?

[2011-11-10 15:51] Antpachon commented on #38
Yes, it's issue #32 I'll download the new build. Thanks!

[2011-11-10 16:14] Antpachon commented on #38
The issue still

E/AndroidRuntime(1075): FATAL EXCEPTION: AsyncTask #1
11-10 15:56:52.448: E/AndroidRuntime(1075): java.lang.RuntimeException: An error occured while executing doInBackground()
11-10 15:56:52.448: E/AndroidRuntime(1075):         at android.os.AsyncTask$3.done(AsyncTask.java:266)
11-10 15:56:52.448: E/AndroidRuntime(1075):         at java.util.concurrent.FutureTask$Sync.innerSetExce

[2011-11-10 22:52] ahmetb commented on #38
Are you omitting rest of this error message call stack? It prevents me to locate the bug.

[2011-11-11 09:45] Antpachon commented on #38
The exceptions ocurs in the insert() statement when I insert something with %, without that it is working

I'm inserting this :  Telef&oacute;nica gana 2.733 millones hasta septiembre, un 69% menos por el coste del ERE

11-11 10:48:51.860: E/AndroidRuntime(7106): FATAL EXCEPTION: AsyncTask #1
11-11 10:48:51.860: E/AndroidRuntime(7106): java.lang.RuntimeException: An error occured while executing d

[2011-11-11 09:51] ahmetb commented on #38
I understand you but I could not reproduce exception in my computer. I can save a string that includes `%` in Android. I also don't see `insert` method in the stack trace you pasted above. I need to see that. Please paste your full exception stack trace.

[2011-11-25 11:37] ragunathjawahar commented on #27
I had the same issue, while registering packages and when searching automatically for entities. Registering the entities one by one seems to work.

[code]

[2011-11-25 11:40] ahmetb commented on #27
@ragunathjawahar we are aware of the issue. Unfortunately classloading mechanism is kind of different in Dalvik VM than JVM. Therefore we are having issues,  @0ffffffffh is working on it. Until that time, try to use `//Works` line if it is not a big deal.

[2011-11-25 11:44] ragunathjawahar commented on #27
@ahmetalpbalkan, anyways great job, I'll keep following orman closely.

[2011-11-27 14:56] ragunathjawahar opened #39 "Android - MappingSessionAlreadyStartedException"
I start the Mapping Session in my Activity's **onCreate** method. Once I back out of the application and restart it once again I get the following exception:

[code]

The app then crashes, but the next time I open the app, it works fine.

[code]

[2011-11-27 21:00] ahmetb commented on #39
Well, you are using `startSafe` method which is okay, however somehow this `initOrmanMappingSession` method is called twice, I think.

Therefore it tries to register entity classes after the session is statically started. That causes the exception. I thought that I have created a public method called `isSessionStarted()` but clearly I was wrong. There's a `sessionStarted` variable in [`MappingSess

[2011-11-28 05:09] ragunathjawahar commented on #39
@ahmetalpbalkan, I chose to use <code>MappingSession.startSafe()</code> after looking into the source code. Therefore  if I would have called the <code>initOrmanMappingSession</code> twice, the method should actually return. Which is not the case here, I have called <code>initOrmanMappingSession</code> method only once in my code.

And out of curiosity, why isn't there a <code>MappingSession.end()

[2011-11-28 07:49] ahmetb commented on #39
You are right. If your code would reach `startSafe()` twice, it would return immediately on second call. The problem is, before calling startSafe twice,you are `MappingSession.registerEntity(clazz);` registering entities twice which causes exception. This exception can be ignored using try..catch as I said before

There is not so much need for an `end()` method. Basically everything ORMAN initiali

[2011-11-28 08:03] ragunathjawahar commented on #39
What's your take on the following use cases?

1) How would you handle the mapping session when the db access is needed across several activities?
2) When would you close the database connection across several activities?
3) I suggest a Singelton pattern would be better instead of using static fields and methods. What do you suggest?

[2011-11-28 08:14] ahmetb commented on #39
(1)(3) Singleton will just work. However remember that the whole mapping session is static. If you just create a singleton to provide MappingSession, it will work, but if you access MappingSession from several activities, that'll also work since everything is static at that moment. That's my guess. I haven't tried it on advanced Android projects but some people did and they made it work.

(2) it i

[2011-11-28 08:37] ragunathjawahar commented on #39
This works if I didn't call <code>database.closeConnection()</code> but causes a memory leak in the application. Here is the stack trace for your reference.

[code]

[2011-11-28 10:54] ahmetb commented on #39
If you trust your code so that it won't try to access a terminated database connection, then just use close() somewhere appropriate, for example [onDestroy()](http://developer.android.com/reference/android/app/Activity.html#ActivityLifecycle) method.

[2011-11-29 17:40] ragunathjawahar commented on #39
Instead I've started the <code>MappingSession</code> on the <code>onCreate()</code> method of the <code>Application</code> instance. This seems to be the best solution for the current design.

[2011-11-29 18:05] ahmetb commented on #39
Thanks for pointing this out. I didn't even use to know there's an Application class specific for the app. Could you please show me a link or consider contributing our wiki on Android section?

[2011-11-29 18:40] ragunathjawahar commented on #39
@ahmetalpbalkan, you're welcome, I also updated the wiki.

[2011-11-29 18:57] #39 closed, assigned to nobody

[2011-12-15 14:15] fdutey opened #40 "org.orman.mapper.exception.FieldNotFoundException: Could not find property (field)"
Hi.
I'm actually using orman on android and I think it's a really convenient orm.

Actually, I got a serious issue. I found a way to fix it temporary but It's not as clean as I would want.
Let me explain:

I got 1 class named Noeud (node) and 1 classe named Equipement (equipment).

Noeud has two ManyToOne relationships. One with itself (on field "parent") and one to Equipement (on field "localisat

[2011-12-15 14:25] ahmetb commented on #40
As far as I remember we are allowing more than one ManyToOne annotated fields in entities. There could be a bug in the framework, meanwhile could you please paste the complete exception stack?

It is quite interesting to get an exception on node.getEquipments() which is a getter probably you have created and only returns the EntityList instance. We may have limitations on usage of those cardinalit

[2011-12-15 16:22] fdutey commented on #40
Here is my complete log

<pre>
12-15 16:14:51.570: E/AndroidRuntime(16263): FATAL EXCEPTION: main
12-15 16:14:51.570: E/AndroidRuntime(16263): org.orman.mapper.exception.FieldNotFoundException: Could not find property (field) `parent` in Equipement.
12-15 16:14:51.570: E/AndroidRuntime(16263):    at org.orman.mapper.F.f(F.java:70)
12-15 16:14:51.570: E/AndroidRuntime(16263):    at org.orman.mapper

[2012-01-07 01:48] ragunathjawahar opened #41 "java.lang.NullPointerException"
[code]

The latest nightly build from the downloads section and the source code has the same problem, I found that the **fieldName** contains the **generatedFieldName** instead of the **fieldName** which returns **null** for **Field** always. I've used a temporary workaround (F.java) which fixed this issue.

[code]

[2012-01-07 07:36] ahmetb commented on #41
Thanks for the workaround, I'll fix soon.

[2012-01-20 13:56] hippiefahrzeug opened #42 "android.database.sqlite.SQLiteException: Can't downgrade database from version 35 to 33"
In order to upgrade my schema I've created my own SQLiteOpenHelper which does the upgrades at startup. In my last update, something bad happened: Users are reporting this error...

Caused by: android.database.sqlite.SQLiteException: Can't downgrade database from version 35 to 33
at android.database.sqlite.SQLiteOpenHelper.onDowngrade(SQLiteOpenHelper.java:307)
at android.database.sqlite.SQLiteOpen

[2012-01-20 14:00] ahmetb commented on #42
Ooops that's my bad. Can you please checkout the code, change the line that inludes `33` and run the command `rake` in your root? (It will require rake and therefore ruby installed, but it is the way to build our `jar` right now.) Let me know if you have difficulties.

[2012-01-20 14:03] hippiefahrzeug commented on #42
thank for your quick reply. You're right that will be the fastest way
to fix my problem, I will do that. It would be good if you could add a
constructor with the version number to SQLiteAndroid.

Cheers, and thanks for orman.
Alvi

On Fri, Jan 20, 2012 at 3:00 PM, ahmet alp balkan
reply@reply.github.com
wrote:

[2012-01-20 14:32] ahmetb commented on #42
That's a good idea. The reason it is coded that way is because I thought it was about "version of SQLite" rather than the version of the app db. Totally a misconception, sorry about that. Hope you have fixed it for yourself, I'll roll out a fix soon when I have time.

Thanks for reporting the bug.

[2012-01-20 14:35] hippiefahrzeug commented on #42
It's fine for me now, I added the constructor and built the project without any problems.

[2012-01-20 14:37] ahmetb commented on #42
Great, feel free to submit a pull request anytime.

[2012-01-20 14:37] #42 closed, assigned to nobody

[2012-03-16 14:01] anotherpit opened #44 "Enum Fields"
Can't reopen [issue #17](https://github.com/ahmetalpbalkan/orman/issues/17), so have to create a new one.

`org.orman.mapper.ReverseMapping` is broken as its method `map()` causes `ClassCastException` when trying to cast `String` to `Integer`: `fieldValue = enumConstant[(Integer) fieldValue];`.

The whole enum processing should be moved to `smartCasting()` method and use `new Integer(value.toStrin

[2012-03-16 16:40] #44 closed, assigned to nobody

[2012-03-16 16:40] #41 closed, assigned to nobody

[2012-03-16 16:44] ahmetb commented on #44
I have no idea how `fieldValue` arrived there as String but your solution is better for converting to Integer. I also handled enum field being `null` that previously logged an error due to NullPointerException redundantly. Updated the jar in Downloads. Thanks!

[2012-03-16 16:46] ahmetb commented on #38
This issue was related to `%` characters that appear in log messages, fixed before.

[2012-03-16 16:46] #38 closed, assigned to nobody

[2012-03-16 17:38] anotherpit commented on #44
Neither can I figure out why I decided it was `String` to `Integer` conversion problem. Anyway, new `JAR` works like a charm. Thanks.

[2012-04-09 18:19] tmarkle commented on #40
It looks like you may have omitted the @Entity annotation in your classes.

[2012-04-09 21:41] ahmetb commented on #40
Seems like true, it didn't throw any exceptions about `@Entity` annotation being not found since we're having issues with Dalvik VM (android) classloader. (discussed on #27). Thanks.

[2012-04-22 09:15] mojtabakaviani opened #45 "sql aggregate functions"
when work with ModelQuery not find sql aggregate functions such as sum,max,min and others
please add sql aggregate functions to ModelQuery .

[2012-05-10 11:11] mojtabakaviani opened #46 "QueryBuilder Max and Min Problem"
when use QueryBuilder Max and Min fuction call sum sql funcion

[2012-06-11 09:19] curioustechizen opened #47 "Cannot set Nullable UNIQUE constraint on a column (SQLite on Android)"
I'm trying to create a column which has the following constraints:
1. The column contains `UNIQUE` values
2. The column can have `NULL` values.
3. This is _not_ the `PRIMARY KEY` column.

Note that SQLite allows `NULL` values in columns designated as `UNIQUE` - [Reference](http://www.sqlite.org/nulls.html)

Since Orman uses the `@Index` annotation do designate `UNIQUE`-ness, I tried the following:

[2012-06-11 13:30] ahmetb commented on #47
Here are the queries executed on my side in log level set to trace (`Log.setLevel(LoggingLevel.TRACE)` before starting mapping session.):

[code]

So at `144`, you can see that unique index is [created](http://www.sqlite.org/lang_createindex.html). Not all DBMSes support `UNIQUE` clause in `CREATE TABLE` query (e.g. in MySQL, you put `CONSTRAINT colName UNIQUE` at the end of field listing, for mor

[2012-06-11 13:42] #40 closed, assigned to nobody

[2012-06-11 14:02] curioustechizen commented on #47
Okay, I see that the `UNIQUE` constraint has been created in the `INDEX`. Sorry for missing that. But I still cannot insert a `NULL` value to this column:

And of course this is expected, since the `CREATE TABLE` statement has added a `NOT NULL` constraint on uname column:

Can I prevent this? Can I configure Orman to omit the `NOT NULL` constraint on a column that has been configured with a `UNIQ

[2012-06-12 08:23] ahmetb commented on #47
It seems I have designed the framework in a way that indexed fields cannot be null because thats what I used to know. Now I pushed the fix (cd5eec5ca2798994aa4a70d246bfde6c0629e69a), can you please clone the repo and build a jar for yourself? Thanks!

[2012-06-12 08:23] #47 closed, assigned to nobody

[2012-07-03 13:24] Dodd78 commented on #42
may this will be of use to you http://www.enterra-inc.com/techzone/handling_sql_issues/

[2012-07-03 15:18] mojtabakaviani opened #48 "Sqlite Double Mapping Problem"
I have entity with double datatype field. i insert  number such as 17507321 and inserted correct but when retrieve value form database convert to  17507300

[2012-11-23 11:45] gguava opened #49 "mysql can't set characterEncoding when connection？"
QueryExecutionContainerImpl.java

conn = DriverManager.getConnection(
                    "jdbc:mysql://" + this.settings.getHost() + ":"
                            + this.settings.getPort() + "/"
                            + this.settings.getDatabase(), props);

there is no dufault characterEncoding ,and we can't do any customize?

[2013-04-09 07:19] lhanusiak opened #50 "Model entity update bug"
When I execute update on model instance my application throws following exception:

java.lang.NullPointerException  at org.orman.mapper.Model.prepareUpdateQuery(Model.java:197)
at org.orman.mapper.Model.update(Model.java:162)

In my entity I use text field with as primary key which I manually fill before storing into database. Since method prepareUpdateQuery requires autoIncrement field it fails w

[2013-04-09 19:41] ahmetb commented on #50
Hi, @lhanusiak  can you please share all fields in SUI class and your .update() code? Thanks.

[2013-09-07 14:46] bohlool opened #51 "JoinType has problem when selecting other options and only works when JoinType.JOIN is selected."
Please override toString() method because by default it is returning enum name that contains _ charater and leads to syntax error in query execution.

[2013-09-10 21:28] ahmetb commented on #51
Fixed in 5306d33036dc3ea89444c01c4ec370ae1e9a14b1.

[2013-09-10 21:29] #51 closed, assigned to nobody

[2013-12-21 12:51] chen15861132927 opened #54 "how to map time to mysql"
hi，I map the data to mysql, but it lost the time, and the time just show 00:00:00,
so, I think may it's a bug? and how did we map time to mysql?

[2013-12-22 02:27] chen15861132927 commented on #54
sorry, I update the least code, and fixed it now. Thanks guys

[2013-12-22 02:27] #54 closed, assigned to nobody

[2013-12-25 21:04] fairchild88 commented on #50
Hi @ahmetalpbalkan

I encounter this problem too. And after I change type of PrimaryKey to int, update works well.
My Model class only have one PrimaryKey, and some String member and no relationship with  else model.

[2014-01-02 05:40] fairchild88 commented on #50
Hi @lhanusiak  have you fixed this problem? And I agree with your opinion, Model.getEntityId(), should change to check primary key.

[2014-01-02 06:43] lhanusiak commented on #50
To work around the problem I added @PrimaryKey(autoIncrement = true) id field and then created my text identifier field with @Index(unique=true). In my application I don really care about PK and only use indexed identifier.
Code sample that I use in my application:

@Entity(table = "sui")
public class SUI extends Model {

@PrimaryKey(autoIncrement = true)
private int id;

@Index(unique = true)
pri

[2014-01-02 06:47] ahmetb commented on #50
Hmm, I don't remember if auto increment is compulsory or not. Either way it should not throw NPE.

After defining your Model, which operation fails, can you please share the full stack trace? Thanks.

[2014-01-02 07:27] fairchild88 commented on #50
stack trace show below:
01-02 15:14:23.957: E/AndroidRuntime(6435): Caused by: java.lang.NullPointerException
01-02 15:14:23.957: E/AndroidRuntime(6435):     at org.orman.mapper.Model.prepareUpdateQuery(Model.java:198)
01-02 15:14:23.957: E/AndroidRuntime(6435):     at org.orman.mapper.Model.update(Model.java:162)
01-02 15:14:23.957: E/AndroidRuntime(6435):     at com.helowd.ormdemo.LoginActivity.

[2014-01-02 07:33] lhanusiak commented on #50
Sample update code used in every case:

SUI sui = new SUI();
sui.setIdentifier("123412412342");
sui.setText("AAA");
sui.insert();

sui.setText("AAABBB");
sui.update();

Case 1:
Using PK annotation on text field

@Entity(table = "sui")
public class SUI extends Model {
@PrimaryKey
private String id;

...
}

No error during initialization and insert but update fails every time.

Full stack trace:
jav

[2014-06-17 22:25] #12 closed, assigned to nobody

[2014-09-17 02:46] jachicore opened #55 "How to connect two db at the same time"
How to connect two db at the same time?
        MappingSession.registerPackage("xxxx");
        MappingSession.registerDatabase(db);
        MappingSession.start();
It's same like that it can only init one db connection and entity the db mapping.So if I want to connect two db at the same time,How can I do?

[2014-09-17 04:51] ahmetb commented on #55
@jachicore unfortunately by design it works with only one db at a time because many things are static in this library. I wasn't a good software engineer enough back in my sophomore year at college. :trollface: I would certainly not design it like this today.

Here's a selfie to hopefully tease this problem:
![selfie-0](http://i.imgur.com/sRJDtSl.png)

[2014-09-17 04:51] #55 closed, assigned to nobody

[2014-09-18 07:52] jachicore commented on #55
Haha...So handsome.

[2014-12-03 15:16] kylba4enko commented on #28
Hello. Your framework really cool! But I have the same problem with auto increment field (id). And because of it I can't use it in my app. I need a primary key but I do not need auto increment this field. How can I solve this if it is possible?

[2015-05-28 12:22] rudreshsp commented on #40
hello sir need help asap
this is wrt     Foreign Key

1. Bank with fields     id,bankname.
2.State with fields id,statename, bankid(this should map to id of Bank table)

how to declare, and how to delete parent id, so that it should affect child row also
so suppose if i delete a bank based on its id,
it should be deleted in state also i mean bankid,

thanks in advance

Rudresh SP

[2015-05-28 12:24] rudreshsp commented on #40
hello sir need help asap
this is wrt Foreign Key
assume i have two tables Bank,State

1.Bank with fields id,bankname.
2.State with fields id,statename, bankid(this should map to id of Bank table)
how to declare, and how to delete parent id, so that it should affect child row also
so suppose if i delete a bank based on its id,
it should be deleted in state also i mean bankid,

thanks in advance

Ru

[2015-05-28 12:25] rudreshsp commented on #40
hello sir need help asap
this is wrt Foreign Key
assume i have two tables Bank,State

1.Bank with fields id,bankname.
2.State with fields id,statename, bankid(this should map to id of Bank table)
how to declare, and how to delete parent id, so that it should affect child row also
so suppose if i delete a bank based on its id,
it should be deleted in state also i mean bankid,

i have gone thru WIKi

[2015-06-29 18:50] fernandovarella commented on #50
I'm having the same problem. Update fails because line 150 of Model.java looks for the AutoIncrement field:

[code]

 my Entity has a Non-autoincrement String primary key, thus, the update fails

[2016-01-04 15:25] aercanozcan opened #56 "Gradle, Maven, Jitpack import"
Please include a gradle import in your readme file. It will be very helpful for android developers

[2016-01-04 16:21] ahmetb commented on #56
Project is not actively maintained anymore.

[2016-01-04 16:21] #56 closed, assigned to nobody

[2016-03-28 07:35] rudreshsp commented on #39
@ahmetalpbalkan,@ragunathjawahar

can you show me the link to that wiki, i have been using orman for last 4 years,in all my projects, now life is misserable b'cos of this bad decission, database leak issue is the main problem form me,as i m using inside services, suppose if i closeconnection after my operation, then tries to open it again it give the following "trying to open an already closed on

[2016-06-29 05:50] ahmetb commented on #10
meh

[2016-06-29 05:50] #10 closed, assigned to nobody

[2016-06-29 05:50] #15 closed, assigned to nobody

[2016-06-29 21:22] #16 closed, assigned to ahmetb

[2016-06-29 21:22] #20 closed, assigned to nobody

[2016-06-29 21:23] #25 closed, assigned to nobody

[2016-06-29 21:23] #24 closed, assigned to 0ffffffffh

[2016-06-29 21:23] #23 closed, assigned to nobody

[2016-06-29 21:23] #22 closed, assigned to ahmetb

[2016-11-03 15:39] ragunathjawahar commented on #39
@rudreshsp Orman is no longer maintained. You have to switch to other alternatives.